<!DOCTYPE html>
<html>
<head>
    <title>Stress-Strain Analysis</title>
</head>
<body>

<h1>Stress-Strain Analysis</h1>

<h2>Stress-Strain Curve</h2>
<img src="data:image/png;base64,{{ graphic }}" alt="Stress-Strain Curve" />

<h2>Analysis Results</h2>
<p>
    <strong>Young's Modulus (E): </strong>{{ youngs_modulus }} MPa<br>
    <strong>R-squared Value: </strong>{{ r_squared }}
</p>

<h2>Intersection Point</h2>
<p>
    <strong>X-coordinate: </strong>{{ intersection_point }}<br>
    <strong>Y-coordinate: </strong>{{ intersection_point }}
</p>

<!-- <h2>Yeild Strength</h2>
<p>
    <strong>Yeild Strength</strong>{{ yeild_strength }}
</p> -->

</body>
</html>
